.navbar {
  background-color: red;
}

@font-face {
  font-family: 'fs_albert_prolight';
  src: url('fonts/fsalbertpro-light-webfont.woff2') format('woff2'),
       url('fonts/fsalbertpro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fs_albert_probold';
  src: url('fonts/fsalbertpro-bold-webfont.woff2') format('woff2'),
       url('fonts/fsalbertpro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body, input, textarea {
  font-family: "fs_albert_prolight", sans-serif !important;
  font-weight: 400;
}

h1, h2, h4, h5 {
  font-family: "fs_albert_prolight", sans-serif !important;
}

/* Ensure the label acts like a button */
.button-group label {
  display: inline-block;
  margin: 0;
}

/* Hide the default radio input */
.button-group input[type=radio] {
  display: none;
}

/* Style the button normally */
.button-group button {
  cursor: pointer;
  border: 1px solid var(--pico-border-color);
  background-color: var(--pico-contrast-background);
  color: var(--pico-contrast-color);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  transition: 0.2s;
}

/* Active (checked) state styling */
.button-group input[type=radio]:checked + button {
  background-color: var(--pico-primary);
  color: var(--pico-primary-inverse);
  border-color: var(--pico-primary);
}

/* Hover effect */
.button-group button:hover {
  background-color: var(--pico-muted-color);
}

/* Counter */
.counter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 200px;
}
.counter button {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
}
.counter input {
  text-align: center;
  font-size: 1.2rem;
  max-width: 70px;
}


/* For Chrome, Safari, Edge, and Opera */
.counter input::-webkit-outer-spin-button,
.counter input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.counter input[type=number] {
    -moz-appearance: textfield;
}



#nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #A1A1AA;
  text-align: center;
  margin-bottom: 0;
  
}

#nav > a:nth-child(3) > svg {
  width: 20px;
}


#sub-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #A1A1AA;
  height: 50px;
}

button.outlined {
  background-color: white;
  color: #6C207E;
  border-color: #6C207E;
}